<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/jellyfish.css">
    <title>Jellyfish Journal Cover</title>
</head>
<body>
<div id="journal"><h1>THE JOURNAL OF <br> JELLYFISH STUDIES</h1></div>
<div id="medusa"><h2>Medusa</h2></div>
<div id="volume"><h3>VOLUME</h3></div>
<div id="number"><h3>N.&deg2</h3></div>
<div id="dots"><h3>...</h3></div>
<div id="cursive"><h4>Chrysaora quinquecirrha, Patrice Stephens-Bourgeault</h4></div>
</body>
</html>