#red {
    color: red;
}

#title {
    font-size: 50px;
padding-left: 20%;

}

#paragraph {


}

.give-ean-a-good-grade {
     font-size: 28px;
    padding-left: 20%;
    padding-right: 20%;

}

#angelina {
float: left;

}

#brad {
float: right;

}







